# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

.idea/.gitignore
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
app/app.iml
commons/commons.iml
manager/manager.iml
polymerizationDemo1219.iml
/manager/target/
/commons/target/
/app/target/

# 原来这里忽略了整个 manager/app 的 src/main/resources/，
# 结果 application.yml 根本不在版本库里，克隆下来起不了服务。
# 现在把配置纳管，密钥一律走环境变量（见文件里的 ${VAR:} 写法）。
application-local.yml
*.local.yml
