<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saodi.mapper.CinemaUserMapper">


    <select id="selectJoinRole" resultType="CinemaUser">
        SELECT u.*,c.name rolename
        FROM cinema_user u
        LEFT JOIN charact c
        ON c.sn=u.role
        ${ew.customSqlSegment}
    </select>
</mapper>
